@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.exploreChallengePageContainer {
  @include m.flex-column-center(center, flex-start, 12px);
}
.emptyContainer {
  @include m.flex-column-center(center, center, 20px);
  @include m.font-size-weight(14px, 600, 1.4);
  margin: 200px auto 0 auto;
  color: $color-black;

  p {
    white-space: pre-line;
    text-align: center;
  }
}
