@use '@styles/variables' as *;
@use '@styles/mixins' as m;

// 전체
.CreateChallengeContainer {
  max-width: min(87.8vw, 365px);
  width: 100%;
  margin: 0 auto;
}

// 챌린지 정보
.challengeInfo {
  @include m.flex-row-center(space-between, center, 7px);
  margin: 24px auto 12px auto;

  .infoLeft {
    @include m.flex-column-center(center, center, null);
    @include m.font-size-weight(12px, 500, 1.4);
    max-width: 120px;
    width: 100%;
    height: 164px;
    border: none;
    border-radius: 8px;
    background: rgb(0, 0, 0, 0.2);
    background-image: linear-gradient(
      180deg,
      rgba(123, 87, 223, 0.12) 0%,
      rgba(44, 31, 81, 0) 37%,
      rgba(123, 87, 223, 0.12) 100%
    );

    .photoSelect {
      @include m.font-size-weight(12px, 500, 1.4);
      color: $gray-700;
      padding-top: 7px;
    }

    .previewImg {
      width: 100%;
      height: 164px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .infoRight {
    @include m.flex-column-center(flex-start, center, 6px);
    width: 100%;
  }
}

// 섹션 공통
.challengeFieldContainer {
  @include m.flex-column-center(center, flex, null);
  max-width: min(87.8vw, 365px);
  margin: 12px auto;
}
.fieldLabel {
  @include m.font-size-weight(20px, 600, 1.4);
  display: block;
  color: $color-black;
  margin-bottom: 8px;
}

// 드롭박스
.flexBox {
  margin-bottom: 40px;
  @include m.flex-row-center(flex-start, center, 71px);
  .fieldLeft,
  .fieldRight {
    max-width: 30.53vw;
  }
}

// 카테고리
.categoryGroup {
  @include m.flex-row-center(space-between, flex, 30px);
  padding-right: 15px;
  .categoryBtnContainer {
    @include m.flex-column-center(flex-start, center, 12px);
    padding: 8.5px;
    .categoryButton {
      width: 44px;
      height: 44px;
      border-radius: 4px;
      border: none;
      background-image: $primary-gradient;
    }
  }
  .categoryButtonActive {
    border-radius: 4px;
    background-image: linear-gradient(
      90deg,
      rgba(95, 67, 255, 0.2) 0%,
      rgba(130, 67, 255, 0.2) 100%
    );
  }
}

// 정산 방법
.fieldGroup {
  margin: 45px 0 85px 0;
}
.settlementGroup {
  @include m.flex-column-center(flex-start, center, 8px);
  width: 100%;
  max-width: min(87.8vw, 365px);
  margin: 0 auto;

  .settlementButton {
    @include m.flex-column-center(center, flex-start, null);
    padding: 10px 14px;
    width: 100%;
    height: 37px;
    border-radius: 8px;
    border: 1px solid $main-color1;
    background-color: $color-white;
    background-image: linear-gradient(
      90deg,
      rgba(255, 63, 62, 0.05) 46%,
      rgba(246, 132, 132, 0.05) 100%
    );
    box-shadow: 0 0 8px rgba($main-color1, 0.08);
  }

  .settlementButton,
  a {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-fill-color: inherit;
    color: inherit;
  }

  .settlementButtonActive {
    background-image: linear-gradient(90deg, rgba(255, 63, 62, 1) 46%, rgba(246, 132, 132, 1) 100%);
    color: $color-white;
  }
}

// 버튼 (수정)
.buttonGroup {
  @include m.flex-row-center(center, flex-start, 12px);
  height: 48px;
  width: 100%;
  margin-bottom: 90px;

  .cancelButton {
    @include m.font-size-weight(18px, 600, 1.4);
    width: 100%;
    max-width: min(22.74vw, 100px);
    height: 100%;
    background-color: #828b9d;
    border: 1px solid $main-color1;
    border-radius: 4px;
    color: $color-white;
  }
  .createButton {
    @include m.font-size-weight(18px, 600, 1.4);
    width: 100%;
    height: 100%;
    background-color: $color-white;
    background-image: linear-gradient(
      90deg,
      rgba(255, 63, 62, 0.2) 46%,
      rgba(246, 132, 132, 0.2) 100%
    );
    border: 1px solid $main-color1;
    color: $main-color2;
    border-radius: 4px;
  }
  .createButtonActive {
    background-image: linear-gradient(90deg, rgba(255, 63, 62, 1) 46%, rgba(246, 132, 132, 1) 100%);
    color: $color-white;
    cursor: pointer;
  }
}
