@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.categoryFilter {
  @include m.flex-row-center(flex-start, center, 12px);
  padding: 0 24px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  max-width: 440px;
}

.categoryButton {
  @include m.font-size-weight(14px, 400, 20px);
  color: $main-color2;
  background-color: $gray-100;
  border: none;
  border-radius: 9999px;
  padding: 6px 15px;
  flex-shrink: 0;
}

.categoryButtonActive {
  @include m.primary-gradient;
  color: $color-white;
}
