@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.gradientBox {
  @include m.flex-row-center;
  @include m.font-size-weight(16px, 600);
  @include m.primary-gradient;
  border-radius: 20000px;
  color: $gray-white;
}
