@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.gradientButton {
  background: transparent;
  @include m.button-click(1);

  border: 1px solid $gradient-start-color;
  cursor: pointer;
  transition: all 300ms ease;

  &.disabled {
    pointer-events: none;
    cursor: default;
    box-shadow: none;
  }

  &:hover,
  &.filled {
    @include m.primary-gradient;
    border-color: transparent;
    box-shadow: 0px 0px 18px 0px rgba(255, 61, 61, 0.35);

    .innerSpan {
      background: none;
    }

    .innderText {
      background-image: none;
      background-clip: initial;
      -webkit-background-clip: initial;
      color: $gray-white;
      -webkit-text-fill-color: $gray-white;
    }
  }

  // isWhite={true}
  &.white {
    background: transparent;
    border: 1px solid $color-white;
    box-shadow: none;

    .innerSpan {
      background: none;
    }

    .innderText {
      background-image: none;
      background-clip: initial;
      -webkit-background-clip: initial;

      color: $color-white;
      -webkit-text-fill-color: $color-white;
    }

    &:hover {
      background: $main-color2;
      border-color: transparent;
      box-shadow: none;

      .innderText {
        color: $color-white;
        -webkit-text-fill-color: $color-white;
      }
    }
  }
}

.innerSpan {
  @include m.flex-row-center;
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: all 300ms ease;

  .innderText {
    @include m.primary-gradient-text;
    @include m.font-size-weight(20px, 600);
    transition: all 300ms ease;
  }
}
