@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.gradientBox {
  @include m.flex-row-center;
  @include m.font-size-weight(16px, 600);
  @include m.primary-gradient;
  box-shadow: 0px 4px 10px 0px rgba(67, 0, 209, 0.06);
  color: $gray-white;

  p {
    white-space: pre-line;
    text-align: center;
  }
}
