@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.gradientButton {
  @include m.primary-gradient;
  @include m.button-click(1);
  padding: 1px;
  border: 0;
  border-radius: 20000px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 18px 0px rgba(255, 61, 61, 0.35);

    .innerSpan {
      background: none;
    }

    .innderText {
      background-image: none;
      background-clip: initial;
      -webkit-background-clip: initial;
      color: $gray-white;
      -webkit-text-fill-color: $gray-white;
    }
  }
}

.innerSpan {
  @include m.flex-row-center;
  background-color: $main-color2;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: all 300ms ease;

  .innderText {
    @include m.primary-gradient-text;
    @include m.font-size-weight(20px, 600);
  }
}
