@use './variables' as *;

// 폰트 크기, 두께
@mixin font-size-weight($size: 12, $weight: 500) {
  font-size: $size;
  font-weight: $weight;
}

// 가로 방향(row) + 수직/수평 중앙 정렬
@mixin flex-row-center($justify: center, $align: center, $gap: null) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  @if $gap != null {
    gap: $gap;
  }
}

// 세로 방향(column) + 중앙 정렬
@mixin flex-column-center($justify: center, $align: center, $gap: null) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  @if $gap != null {
    gap: $gap;
  }
}

// 버튼 hover, active 기본 효과
@mixin button-click($hoverScale: 1.04, $activeScale: 0.96) {
  cursor: pointer;
  transition: transform 0.15s ease;

  &:hover {
    // 살짝 커집
    transform: scale($hoverScale);
  }

  &:active {
    // 살짝 작아짐
    transform: scale($activeScale);
  }
}

// box center 정렬
@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 줄바꿈 불가, 넘치는건 ...으로
@mixin text-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

// 자주 쓰는 구조 있으면 추가

/*
[사용법]

파일 맨 위에 @use "../../../styles/mixins" as m; (경로는 알아서)

.account-box {
    width: 13.28vw;
    height: 4.95vw;
    @include m.flex-row-center(space-between, center, 16px);  --> 이렇게
    padding: 0.52vw;
}
*/
