// 색상
$background-color: #fffffc;

$color-black: #111111;
$color-sub-black: #1e1e1e;
$color-white: #ffffff;

$translucent: #ffffff80;

$main-color1: #ff3e3d;
$main-color2: #1d1c42;

$gray-100: #e9e9e9;
$gray-200: #d9d9d9;
$gray-300: #c4c4c4;
$gray-400: #9d9d9d;
$gray-500: #767676;
$gray-600: #555555;
$gray-700: #505050;
$gray-800: #262626;

// 자주 쓰는 색 있으면 추가

/*
[사용법]

파일 맨 위에 @use "../../../styles/variables" as *; (경로는 알아서)

.account-box {
    width: 13.28vw;
    height: 4.95vw;
    background-color: $background-color2; --> 이렇게
    padding: 0.52vw;
}
*/
