//@use './variables' as *;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, 'Arial', Helvetica, sans-serif;
}

:root {
  --vh: 100%;
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #c8c8c8; // 개발용: ffffff으로 변경 예정
}

/* 중앙 영역 최대 440px*/
#root {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  min-height: 100dvh;
  background-color: #fffffc;
  display: flex;
  flex-direction: column;
}

/* 스크롤이 필요한 특정 페이지 */
.scrollable {
  overflow-y: auto;
}

/* 스크롤바 전체 */
::-webkit-scrollbar {
  width: 4px;
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  border-radius: 2000px;
}

/* 스크롤바 썸 */
::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 2000px;
}
