@use '@styles/variables' as *;
@use '@styles/mixins' as m;

* {
  @include m.hide-scrollbar();
}
.signUpFormContainer {
  @include m.flex-column-center(center, center, 20px);
  > *:last-child {
    margin-bottom: 0;
  }
}
.condition {
  width: 100%;
  max-width: min(83vw, 365.5px);
  padding-left: 6px;
  margin: 6px auto 0 auto;

  @include m.font-size-weight(10px, 400, 1.4);
  color: $main-color2;
}
.signUpBtnContainer {
  margin: 66px auto 90px auto;
  width: 100%;
  max-width: min(83vw, 365.5px);
}
.error {
  @include m.flex-column-center(center, center, null);
  @include m.font-size-weight(14px, 400, 1.4);
  color: $main-color1;
  margin-top: 6px;
}
