@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.todayPhotoBox {
  @include m.flex-column-center(flex-start, center, 6px);
  box-shadow: 8px 8px 8px 0px rgba(67, 0, 209, 0.2);
  width: 101px;
  height: 136px;
  border-radius: 8px;
  background-color: $gray-white;
  overflow: hidden; // img 잘림

  .photo {
    width: 100%;
    height: 108px;
  }

  p {
    @include m.font-size-weight;
    color: $main-color2;
  }

  .nameBox {
    @include m.flex-row-center(center, center, 5px);
  }

  .myName {
    color: $main-color1;
  }
}
