@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.uploadPhotoContainer {
  @include m.flex-column-center(center, center, 22px);

  .photo {
    width: 241px;
    height: 293px;
    background-color: $color-white;
    border-radius: 8px;
    background-image: linear-gradient(
      0deg,
      rgba(255, 62, 61, 0.1) 0%,
      rgba(250, 255, 187, 0.1) 100%
    );
    box-shadow: 8px 8px 8px 0 rgba(67, 0, 209, 0.1);
  }
}

.uploadedPhoto {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

.noUpload {
  @include m.flex-column-center(center, center, 50px);
  margin-top: 30px;

  img {
    margin-left: 125px;
  }
}
