@use '@styles/variables' as *;
@use '@styles/mixins' as m;

.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  width: min(100vw, 440px);
  height: 100dvh;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px); // 배경 흐리게
  -webkit-backdrop-filter: blur(2px); // iOS Safari 대응
}

.challengeModalContainer {
  @include m.flex-column-center(flex-start, center, null);
  position: relative;

  width: 100%;
  max-width: min(87.81vw, 380px);
  height: 586px;

  margin: 0 auto;
  border-radius: 24px;
  background-color: rgba($main-color2, 0.8);
  color: #fcfcfc;

  .closeButton {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 13px;
    height: 13px;
    background: none;
    border: none;
  }

  .challengeTitle {
    @include m.font-size-weight(18px, 500, 1.4);
    margin: 15px 0;
  }
  .userInfo {
    @include m.flex-row-center(center, center, null);
    width: 100%;
    max-width: min(75vw, 320px);
    height: 48px;
    border-radius: 12px;
    background-color: #333333;
    margin-bottom: 12px;

    .userName {
      @include m.font-size-weight(14px, 500);
    }
  }
  .coverImage {
    width: 100%;
    max-width: min(75vw, 320px);
    height: 175px;
    border-radius: 8px;
    border: 1px solid $gray-200;
    object-fit: cover;
    margin-bottom: 12px;
  }
  .challengeInfoCard {
    width: 100%;
    max-width: min(75vw, 320px);
    height: auto;
    border-radius: 12px;
    background-color: #333333;
    padding: 14px 11px 15px 11px;

    .challengeInfo {
      @include m.font-size-weight(16px, 500, 1.6);
      margin-bottom: 3px;
    }
    .meta {
      @include m.font-size-weight(12px, 500, 1.4);
      color: $gray-100;
      margin: 0 0 23px 2px;
    }
    .duration {
      @include m.font-size-weight(12px, 600);
    }
  }
  .agreeContainer {
    margin: 12px 0 0 7.5px;
    width: 100%;
    max-width: min(75vw, 320px);

    .agreeButton {
      @include m.flex-row-center(flex, center, 6px);
      @include m.font-size-weight(14px, 400, 22px);
      @include m.button-click(1);
      color: $color-white;
      border: none;
      background: none;
      outline: none;
    }
  }
  .buttonSpacer {
    padding: 25px 0 30px 0;
  }
}
