@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.sectionTitle {
  @include m.font-size-weight(20px, 600);
  color: $color-black;
}

.logoTitle {
  width: 345px;

  @include m.flex-column-center(center, flex-start, 6px);
  p {
    @include m.font-size-weight(14px);
    color: $main-color2;
  }
}

.profileBox {
  width: 345px;
  @include m.flex-column-center(center, flex-start, 6px);

  div {
    @include m.flex-row-center(center, center, 8px);

    .email {
      width: 249px;
      @include m.font-size-weight(16px, 500);
      @include m.text-ellipsis;
      color: $main-color2;
    }
  }
}

.pointBox {
  width: 345px;
  @include m.flex-column-center(center, flex-start, 8px);

  .totalPoint {
    @include m.flex-column-center(center, flex-start, 4px);

    .point {
      @include m.flex-row-center(flex-start);
      @include m.font-size-weight(20px);
      color: $main-color2;
      padding: 10px 14px;

      width: 345px;
      height: 48px;
      border-radius: 4px;
      border: 1px solid $gray-200;
    }

    p {
      @include m.font-size-weight(8px, 400);
      color: $gray-400;
    }
  }

  .pointButtons {
    @include m.flex-row-center(center, center, 12px);
  }
}
