@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.challengeTitleContainer {
  @include m.flex-column-center(center, center, 24px);
}
.ongoingTitle {
  width: 346px;
  @include m.flex-row-center(flex-start, center, 6px);

  p {
    @include m.font-size-weight(20px, 600);
  }
}
