@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.todayChallenge {
  @include m.flex-column-center(flex-start, center, 6px);
  width: 100%;
  height: 672px;
  background-color: $main-color2;
  border-radius: 12px 12px 0 0;
  padding-top: 20px;

  .challengeTop {
    @include m.flex-column-center(center, center, 8px);

    p {
      @include m.font-size-weight(12px, 400);
      color: $gray-white;
    }

    .challengePeriod {
      @include m.flex-row-center(center, center, 81px);
      margin-top: 22px;

      .invitedCode {
        @include m.flex-row-center(center, center, 4px);
      }

      p {
        @include m.font-size-weight(10px, 500);
        color: $gray-300;
      }
    }
  }

  .todayPhotoGrid {
    width: 327px;
    height: 292px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 12px;
  }

  .challengeButtom {
    @include m.flex-column-center(center, center, 23px);

    .twoButton {
      @include m.flex-row-center(center, center, 12px);
      margin-top: 18px;
    }

    .moneyInfo {
      @include m.flex-column-center(center, center, 8px);
      @include m.font-size-weight(10px, 400);
      color: $gray-white;

      .totalMoney {
        @include m.flex-row-center(center, center, 4px);
      }
    }
  }
}
