@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.todayChallenge {
  width: 100%;
  height: 672px;
  background-color: $main-color2;
  border-radius: 12px 12px 0 0;

  .challengeTop {
    @include m.flex-column-center(center, center, 8px);
    background-color: green;

    p {
      @include m.font-size-weight(12px, 400);
      color: $gray-white;
    }

    .challengePeriod {
      @include m.flex-row-center(center, center, 81px);
      margin-top: 22px;

      .invitedCode {
        @include m.flex-row-center(center, center, 4px);
      }

      p {
        @include m.font-size-weight(10px, 500);
        color: $gray-300;
      }
    }
  }

  .challengeButtom {
    @include m.flex-column-center(center, center, 23px);
    background-color: rgb(156, 121, 57);

    .twoButton {
      @include m.flex-row-center(center, center, 12px);
    }

    .moneyInfo {
      @include m.flex-column-center(center, center, 8px);
      @include m.font-size-weight(10px, 400);
      color: $gray-white;

      .totalMoney {
        @include m.flex-row-center(center, center, 4px);
      }
    }
  }
}
