@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as m;

.allChallengeContainer {
  .header {
    @include m.flex-row-center(space-between, flex-end, null);
    margin: 62px 24px 12px 24px;

    .title {
      @include m.font-size-weight(20px, 600, 28px);
      color: $main-color2;
    }
  }
  .moreButton {
    @include m.flex-row-center(flex-start, center, 5px);
    @include m.font-size-weight(12px, 400, 16px);
    color: $gray-500;
    background: none;
    border: none;
    cursor: pointer;
  }
  .moreIcon {
    width: 10px;
    height: 10px;
  }

  .challengeList {
    @include m.flex-row-center(flex-start, flex-start, 12px);
    @include m.hide-scrollbar();
    padding-left: 24px;
    padding-bottom: 24px;
    overflow-x: scroll;

    .challengeItem {
      @include m.button-click(1);
      flex-shrink: 0;
      width: 140px;
      height: 180px;
      box-shadow: 8px 8px 12px rgba(67, 0, 209, 0.05);
      border-radius: 0 0 12px 12px;

      &:last-child {
        // 마지막 Item에만 우측 여백
        margin-right: 24px;
      }
    }

    .coverImage {
      display: block;
      width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
    }

    .contentBox {
      @include m.flex-column-center(flex-start, flex-start, 4px);
      margin: 12px 10px 8px 12px;
      width: 120px;
      height: 60px;

      .challengeTitle {
        @include m.font-size-weight(12px, 500, 16px);
        @include m.text-ellipsis();
        width: 100%;
      }
    }
  }

  .metaList {
    @include m.flex-row-center(flex-start, flex-start, 4px);
    flex-wrap: wrap; // 줄바꿈 허용

    li {
      @include m.font-size-weight(10px, 400);
      @include m.text-ellipsis();
      color: #828b9d;
      list-style: none;
      background-color: #f4f4f4;
      border-radius: 2px;
      padding: 2px 4px;
    }
  }
}
