@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as m;

.challengeCard {
  @include m.flex-row-center(flex-start, flex-start, null);
  @include m.button-click(1);
  max-width: min(87.8vw, 385px);
  margin: 0 auto;
  width: 100%;
  height: 121px;
  background-color: $color-white;
  border: 1px solid $gray-200;
  border-radius: 8px;
  box-shadow: 8px 8px 12px rgba(67, 0, 209, 0.05);

  .coverImageBox {
    padding: 12px;
    img {
      width: 91px;
      height: 97px;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid $gray-200;
      display: block;
    }
  }

  .contentBox {
    padding: 12px 0;
    .title {
      @include m.font-size-weight(12px, 600);
      color: $color-black;
      margin-top: 8px;
      line-height: 1.4;
    }
    .subtitle {
      @include m.font-size-weight(12px, 400);
      color: $color-black;
      margin-top: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.4;
    }
    .metaList {
      @include m.flex-row-center(flex-start, center, 4px);
      margin-top: 4px;
      li {
        @include m.font-size-weight(10px, 400);
        color: #828b9d;
        list-style: none;
        background-color: #f4f4f4;
        border-radius: 2px;
        padding: 2px 4px;
      }
    }
  }
}
