@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as m;

.headerContainer {
  width: 100%;
  height: 112px;
  background: linear-gradient(123deg, $main-color1 46%, #f68484 100%);
  .headerTop {
    @include m.flex-row-center(space-between, center, null);
    padding: 35px 24px 10px 25px;
    .loginButton {
      @include m.font-size-weight(12px, 400, 1.4%);
      border: none;
      background: none;
      color: #fcfcfc;
      text-decoration: underline;
      text-decoration-color: #fcfcfc;
      text-underline-offset: 2px;
    }
  }
  .headerBottom {
    padding: 0 24px 9px 24px;
  }
}
