@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as m;

.myChallengeContainer {
  .header {
    padding: 18px 24px 0 24px;
    .title {
      font-size: 24px;
      color: $main-color2;
      font-weight: 600;
    }
    .description {
      font-size: 12px;
      color: $gray-500;
      font-weight: 400;
      margin-top: 4px;
    }
  }
  .characterBox {
    .characterImage {
      width: 140px;
      height: 188px;
      margin: 49px 0 8px 111px;
    }
  }

  .quoteBubble {
    margin: 0 59px 40px 59px;
    position: relative;
    padding: 10px 15px;
    background-color: $color-white;
    border-radius: 8px;
    border: 0.5px solid $main-color1;

    .quoteText {
      font-size: 12px;
      color: $color-black;
      font-weight: 500;
    }

    // // 꼬리 테두리 (색상은 메인 컬러)
    // &::before {
    //   content: '';
    //   position: absolute;
    //   border-style: solid;
    //   border-width: 0 16px 19px 0px;
    //   border-color: $main-color1 transparent; // 꼬리 색상
    //   display: block;
    //   width: 0;
    //   z-index: 0;
    //   top: -20px; // 말풍선 위쪽으로 배치
    //   left: 201px; // 말풍선 왼쪽에서 위치
    // }

    // // 꼬리 내부 (배경 색상)
    // &::after {
    //   content: '';
    //   position: absolute;
    //   border-style: solid;
    //   border-width: 0 14px 17px 0px;
    //   border-color: $color-white transparent; // 꼬리 안쪽 색상
    //   display: block;
    //   width: 0;
    //   z-index: 1;
    //   top: -17px; // 꼬리 테두리 위에 겹치도록 위치 조정
    //   left: 202px; // 꼬리 테두리와 같은 위치
    // }
  }
}
