@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.pointHistoryContainer {
  @include m.flex-column-center(flex-start, center, 20px);
  width: 345px;
  height: 586px;
  border-radius: 24px;
  background: rgba(29, 28, 66, 0.8);
  padding-top: 20px;

  .pointTitle {
    @include m.font-size-weight(20px, 600);
    color: $gray-white;
  }

  .pointItemBoxWrapper {
    @include m.flex-column-center(flex-start, center, 12px);
  }

  .pointItemBox {
    height: 415px;
    overflow-y: scroll;

    // 스크롤바 숨기기
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
