@use '../../styles/variables' as *;
@use '../../styles/mixins' as m;

.footerContainer {
  @include m.flex-column-center(flex-start, center, 14px);

  width: 100%;
  height: 244px;
  background-color: #f0f0f0;

  .footerTop {
    @include m.flex-column-center(center, flex-start, 12px);
    margin-top: 24px;

    .footerText {
      @include m.font-size-weight(12px, 500);
      color: $main-color2;
    }
  }

  .developer {
    @include m.flex-row-center(flex-start, center, 28px);
    width: 332px;
    height: 34px;

    p {
      @include m.font-size-weight(12px, 500);
      color: $gray-500;
      line-height: 140%;
    }
  }
}
