@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.commentInputPopup {
  @include m.flex-row-center(center, center, 11px);
  min-height: 31px;
  padding: 6px 12px;

  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 18px rgba(67, 0, 209, 0.08);

  backdrop-filter: blur(10px);
  border: 1px solid #828b9d;

  &.itemPopup {
    display: block;
  }
}

.commentTextarea {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  overflow: hidden;

  @include m.font-size-weight(10px, 500);
  color: $color-black;

  &::placeholder {
    color: $gray-400;
  }
}

.commentItemText {
  @include m.font-size-weight(10px, 500);
  color: $color-black;

  white-space: pre-wrap;
  word-break: break-word;
}
