@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.resultItemContainer {
  @include m.flex-column-center(center, flex-start, 4px);
  width: 100%;
  height: 46px;

  .section1 {
    @include m.flex-row-center;

    .name {
      @include m.font-size-weight(16px, 600);
      color: $gray-white;
      margin-right: 11px;
    }
  }

  .section2 {
    width: 100%;
    @include m.flex-row-center(space-between, center);

    .count,
    .point {
      @include m.font-size-weight(14px);
      color: $gray-100;
    }

    .count {
      width: 55px;
    }
    .point {
      width: 69px;
      text-align: center;
    }

    .statusBar {
      width: 210px;
      height: 14px;
      background-color: #ebe9fb;
      border-radius: 4px;
      box-shadow: inset 1px 1px 1.5px 0 #11007466;
      position: relative;

      .statusBarFill {
        height: 100%;
        background: linear-gradient(90deg, #5f43ff 0%, #8243ff 100%);
        border-radius: 4px 2px 2px 4px;
        transition: width 0.3s ease-in-out;
        box-shadow: 0px 4px 16px 0px #2600ff4d;
      }
    }
  }
}
